#Banner {
    margin-top: 1rem;
}

#Banner .sl-box {
    height: 190px;
    margin-bottom: 20px;
}

#Banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    filter: drop-shadow(1px 0px 2px #bbbbbb);
}

#Banner .slide-box {
    height: 400px;
}